@font-face {
    font-family: '1942';
    src: url('../Fonts/GoodDog-webfont.eot');
    src: url('../Fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/GoodDog-webfont.woff') format('woff'),
         url('../Fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../Fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: "1942", Arial, Verdana;
}

h1
{
	background: green;
	border: 1px solid green;
	margin: 100px 50px 60px 30px;
	padding: 20px 10px 50px 100px;
	display: inline-block; /* NOS MUESTRA EL BLOQUE Y SOLO OCUPA LO QUE NECESITA*/
}

/*Filtrado*/

header nav ul
{
	list-style: none;
}

/*Atributos id*/

#logo
{
	border: 10px solid red;
	border-radius: 10px;
}

#seccion1 article h4
{
	color: blue;
	font-size: 30px;
}

/*Atributos class*/

.nave
{
	background-color: rgba(9, 3, 3, 0.61);
	color: rgba(255, 255, 255, 1);
	font-size: 50px;
	outline-style: none;
}