@font-face {
    font-family: '1942';
    src: url('../Fonts/GoodDog-webfont.eot');
    src: url('../Fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/GoodDog-webfont.woff') format('woff'),
         url('../Fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../Fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: "1942", Arial, Verdana;
}