@font-face {
    font-family: '1942';
    src: url('../Fonts/GoodDog-webfont.eot');
    src: url('../Fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/GoodDog-webfont.woff') format('woff'),
         url('../Fonts/GoodDog-webfont.ttf') format('truetype'),
         url('../Fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background: rgba(179,179,174, 0.61);
	font-family: "1942", Arial, Verdana;
	font-size: 16px;
  margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

header
{
	position: relative;
	margin: 0px;
}

/*Posicionamiento: Flotacion*/
/*header img
{
	float: right;
	height: 200px;
	width: 100%;
}*/

/*Posicionamiento: Posiciones realtivas y absolutas*/
header figure
{
	margin: 0px;
}

header figure img
{
	height: 250px;
	width: 100%;
}

header hgroup
{
	color: white;
	position: absolute;
	top: 50px;
	left: 150px;
}

header nav
{
	position: absolute;
		left: 120px;
		top: 160px;
}

header nav ul
{
	list-style: none;
}

header nav ul li
{
	background: white;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1.5em;
	padding: 0.3em;
}

header nav ul li a
{
	color: red;
	display: block;
	text-decoration: none;
	font-size: 20px;
}

header nav ul li:hover
{
	background: blue;
}

header nav ul li a:hover
{
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/*Media queries*/

@media screen and (max-width: 400px){
	body
	{
		background: black;
	}

	header figure img
	{
		width: 200px;
	}
}

/*Secciones*/

section
{
	background: rgba(255,255,255,0.7);
	border: 1px solid red;
}

#seccion1
{
	
}

#seccion1 article
{
	box-shadow: 0px 0px 10px 4px rgba(100,120,120,0.2);
	display: inline-block;
	/*margin: 1.5em 0.5em;*/
	padding: 0 0.5em;
	position:relative;
		top: 5%;
		bottom: 5%;
	text-align: center;
	width: 20%
}

#seccion1 article:hover
{
	box-shadow: 0px 0px 10px 4px rgba(100,120,120,0.2);
	display: inline-block;
	text-align: center;
	width: 25%
}

#seccion1 div
{
	position: relative;
	left: 10%;
	right: 10%;
}

#seccion1 div article img
{
	margin-top: 5px;
	width: 40%;
}

#seccion1 div article h4
{
	color:black;
	font-family: Arial; 
	font-size: 0.8em;
	text-shadow: 4px -10px 0 rgba(0,0,0,0.2);
}

#seccion1 div article p
{
	color: gray;
	font-family: Arial; 
	font-size: 0.6em;
}


/*@media screen and (min-width: 401px) and (max-width: 728) {
	body
	{
		background: red;
	}	
}*/

@media print {
	body
	{
		background: #ABD012;
		font-size: 100px;
	}
}

@media screen and (min-width: 729px){
	body
	{
		/*background: red;*/
	}	
}